*{
  margin: 0%;
  padding: 0;
  
}

@font-face {
  font-family: "Simpletix";
  src: url(../font/simpletix.otf);
}

@font-face {
  font-family: "MarketDeco";
  src: url(../font/Market_Deco.ttf);
}

body{
  font-family: Simpletix;
  text-align: justify;
  font-size: 2rem;
}

img {
  height: auto;
  width: 100%;
}


.nav {
  height: 50px;
  width: 100%;
  background-color: green;
  position: fixed;
  top: 0;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}
.nav > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 13px 13px 10px;
  text-decoration: none;
  color: #efefef;
}
.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav > #nav-check {
  display: none;
}

.HomePage #kids{
  visibility: hidden;
}

/* subpages section */
.subsection {
  padding: 50px 50px 50px 50px;
  background-color: forestgreen;

  height: 100vh;
  color: white;
}

.subsection h1{
  text-align: center;
  color: whitesmoke;
  padding: 10vh 0 0 0;
}

.subsection h2{
  padding-bottom: 20px;
}

.subsectionHeader {
  text-align: center;
}

.subsection img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 70%;
  border: 5px solid #555;
}

.FutureHeader {
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url(../images/3.jpg);
  background-size: cover;
  background-position: bottom;

  width: 100%;
  height: 50vh;  /* gets the height of the display */

  text-align: center;
}

.FutureHeader h1{
  text-align: center;
  color: whitesmoke;
  padding: 20vh 0 0 0;
}

.CauseHeader {
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url(../images/1.jpeg);
  background-size: cover;
  background-position: bottom;

  width: 100%;
  height: 50vh;  /* gets the height of the display */

  text-align: center;
}

.CauseHeader h1{
  text-align: center;
  color: whitesmoke;
  padding: 20vh 0 0 0;
}

.EffectHeader {
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url(../images/2.jpeg);
  background-size: cover;
  background-position: bottom;

  width: 100%;
  height: 50vh;  /* gets the height of the display */

  text-align: center;
}

.EffectHeader h1{
  text-align: center;
  color: whitesmoke;
  padding: 20vh 0 0 0;
}

.GoodHeader {
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url(../images/4.webp);
  background-size: cover;
  background-position: bottom;

  width: 100%;
  height: 50vh;  /* gets the height of the display */

  text-align: center;
}

.GoodHeader h1{
  text-align: center;
  color: whitesmoke;
  padding: 20vh 0 0 0;
}

.OrgHeader {
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url(../images/organizations-blackandwhite.jpg);
  background-size: cover;
  background-position: bottom;

  width: 100%;
  height: 50vh;  /* gets the height of the display */

  text-align: center;
}

.OrgHeader h1{
  text-align: center;
  color: whitesmoke;
  padding: 20vh 0 0 0;
}

.SolutionHeader {
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url(../images/5.jpeg);
  background-size: cover;
  background-position: bottom;

  width: 100%;
  height: 50vh;  /* gets the height of the display */

  text-align: center;
}

.SolutionHeader h1{
  text-align: center;
  color: whitesmoke;
  padding: 20vh 0 0 0;
}

/* section */

.section {
  padding: 50px 50px 50px 50px;
  background-color: green;

  height: 100vh;
  color: white;
}


.section h2{
  padding-bottom: 20px;
}

/* images as background */
.section.effects{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url(../images/effects-blackandwhite.jpg);
  background-size: cover;
  background-position: bottom;

  color: white;
}

.section.organizations{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url(../images/organizations-blackandwhite.jpg);
  background-size: cover;
  background-position: bottom;

  color: white;
}

.section.what-do{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url(../images/what-do.jpg);
  background-size: cover;
  background-position: bottom;

  color: white;
}

.section.the-good{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url(../images/the-good.jpg);
  background-size: cover;
  background-position: bottom;

  color: white;
}
.sectionHeader{
  text-align: center;
}

.HomePage {
  /* linear-gradient adds gradent to the image */
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
  url(../images/header-blackandwhite.jpg);
  background-size: cover;
  background-position: bottom;
  
  width: 100%;
  height: 100vh;  /* gets the height of the display */

  text-align: center;
}

.HomePage h1{
  color: whitesmoke;
  padding: 50vh 0 0 0;
}

/* Media rule for section class */
@media (max-width:787px) {
  body{
    font-size: 1.5rem;
  }
  
  .HomePage #notKids {
    visibility: hidden;
  }
  .HomePage #kids{
    visibility: visible;
    padding: 0%;
  }

  .nav {
  background-color: #e2f7de
  }
  .nav > .nav-header > .nav-title {
    color: rgb(0, 0, 0);
    font-family: MarketDeco;
    font-size: 24px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 20px;
    height: 30px;
    padding: 10px;
    padding-right: 20px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(80, 239, 251, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid rgb(0, 0, 0);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(242,244,251);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    color: black;
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  /* subpages section */
  .subsection {
    padding: 50px 50px 50px 50px;
    background-color: darkcyan;

    height: 100vh;
    color: white;
  }


  .subsection h2{
    padding-bottom: 20px;
  }

  .subsectionHeader {
    text-align: center;
  }

  .subsection img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
  }

    .section{
    background-color:#f2ffff;
    color: black;
    }

    .section.effects{
    background-image: linear-gradient(rgba(242,244,251,0.9),rgba(212,255,234,0.9)),
    url(../images/mobileimages/m2.jpg);
    color: black;
    }

    .HomePage {
    background-image: linear-gradient(rgba(219,220,255,0.9),rgba(214,239,251,0.9)),
    url(../images/mobileimages/m5.jpg);
    }

    .HomePage h1{
    color: rgb(50,50,50);
    }

    .section.what-do{
      background-image: linear-gradient(rgba(230,220,255,0.9),rgba(226,247,222,0.9)),
      url(../images/mobileimages/kids/k2.jpg);
      color: black;
    }

    .section.the-good{
    background-image: linear-gradient(rgba(219,217,228,0.9),rgba(254,255,163,0.9)),
    url(../images/mobileimages/m4.jpeg);
    color: black;
    }
}
